{% extends "base.html" %}
{% from "_macros.html" import overlay_bar %} {# Import the macro #}

{% block title %}{{ data.hostname }} - Dashboard{% endblock %}

{% block content %}
<div class="column">
    {# Include partials for column 1 sections #}
    {% include "partials/_cpu.html" %}
    {% include "partials/_memory.html" %}
    {% include "partials/_service_io.html" %}
    {% include "partials/_disk_io.html" %}
</div>{# /column 1 #}

<div class="column">
    {# Include partials for column 2 sections #}
    {% include "partials/_shares.html" %}
    {% include "partials/_connections.html" %}
    {% include "partials/_processes.html" %}
</div> {# /column 2 #}
{% endblock %}